body, html{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #667;
}

.image1, .image2, .image3, .image4 {
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.70;

    /*
     attachment: fixed
     attachment: scroll
     */
     background-attachment: fixed;
}

.image1{
    background-image: url("./image/image1.jpg");
    min-height: 100%;
}

.image2{
    background-image: url("./image/image2.jpg");
    min-height: 400px;
}

.image3{
    background-image: url("./image/image3.jpg");
    min-height:600px;
}

.image4{
    background-image: url("./image/image4.jpg");
    min-height: 400px;
}

.seaction{
    text-align: center;
    padding: 50px 80px;
}

.seaction-light{
    background-color: #f4f4f4;
    color: #666;
}

.seaction-dark{
    background-color: #282e34;
    color: #ddd;  
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: #fff; 
    padding: 20px;
}

.border.trans{
    background-color: transparent;
}

.border.trans.black{
    color: black;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@media(max-width: 568px){
    .image1, .image2, .image3, .image4{
        background-attachment: scroll;
    }
}